[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SimNPH"]
	path = SimNPH
	url = https://github.com/simnph/simnph
[submodule "miniPCH"]
	path = miniPCH
	url = https://github.com/simnph/minipch
